LIMPIEZA DE DATOS EN EL DATAFRAME.
- `movie_title`         DONE
- `title_year`          DONE
- `movie_twitter_likes` DONE
- `imdb_score`          DONE
- `country`             DONE
- `language`            DONE
- `actors`              DONE
- `movie_facebook_likes`DONE
- `duration`            DONE

In [44]:
import pandas as pd
import numpy as np
df = pd.read_csv("data/imdb_clase.csv", sep=";", index_col=0).reset_index(drop=True)

In [45]:
#Eliminamos las filas duplicadas.
df['movie_title'] = df['movie_title'].drop_duplicates()
df = df.drop_duplicates().reset_index(drop=True)

In [46]:
# Eliminar las filas donde 'movie_title' es "No available"
df = df.drop(df.loc[df['movie_title'] == 'No available'].index)
df = df.dropna(subset=['movie_title'])

# Reiniciar los índices del DataFrame resultante
df = df.reset_index(drop=True)

In [47]:
df['movie_title'] = df['movie_title'].str.strip().str.capitalize()

# df['movie_title'] = df['movie_title'].apply(lambda x: ' '.join(word.capitalize() for word in x.split()))
#Esto pondría todas las palabras capitalizadas, pero no sé si es conveniente en este caso. Desconozco cual es la convención para esto.

In [48]:
#Hay algunos nombres propios que deben ir en MAYUSCULAS. Creamos una lista con esas palabras.

word = ['superman', 'batman', 'harry', 'potter', 'wall', 'street', 'man', 'smaug', 'avengers', 'god','west', 'hood', 'gatsby', 'spider', 
        'hur', 'phillips', 'turner', 'america', 'ultron', 'jones', 'edgar', 'wolverine', 'bourne', 'caribbean', 'apocalypse']

# Buscamos las palabras en la columna 'movie_title' y ponerlas en mayusculas si se encuentran.

regex = '|'.join(word)
df['movie_title'] = df['movie_title'].str.replace(regex, lambda x: x.group().capitalize(), case=False, regex=True)

COLUMNA `title_year`

In [49]:
with pd.option_context("display.max_rows", None):
    print(df.title_year.value_counts(dropna=False))

title_year
 2014    21
 2012    18
 2013    17
 2011    10
 2015     8
 2010     7
 2016     5
 202      1
-1000     1
 2030     1
 1800     1
 205      1
Name: count, dtype: int64

In [50]:
df.loc[df['title_year'] == 1800]

,color,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes,movie_twitter_likes
64,Color,NaN,139,"$150,832,203.00",Adventure|Mystery|Sci-Fi,Divergent,1800,English,USA,"USD 85,000,000.00",6.7,"Kate Winslet,Theo James,Mekhi Phifer",49000,1000

In [51]:
df.loc[df['title_year'] == 1800, 'title_year'] = 2014

In [52]:
df.loc[(df['title_year'] < 2010) | (df['title_year'] > 2023), 'title_year'] = np.NaN

#En este caso no sé si sería mejor dejarlos como NaN, con un string tipo "No available" o añadir el año tal y como se ha hecho en el anterior.

In [53]:
#He decidido buscar los datos correctos y modificarlos tal y como se ha hecho en la pelicula aterior df.loc[df['title_year'] == 1800, 'title_year'] = 2014
#Son solo cuatro datos nulos y no lleva mucho tiempo ademas creo que así funcionará mucho mejor para analisis posteriores.
df.loc[df.title_year.isnull()]

,color,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes,movie_twitter_likes
5,NaN,NaN,183,"$330,249,062.00",Action|Adventure|Sci-Fi,Batman v Superman: dawn of justice,NaN,English,USA,"USD 250,000,000.00",6.9,"Henry Cavill,Lauren Cohan,Alan D. Purwin",197000,1000
19,Color,Tom Hooper,158,"$148,775,460.00",Drama|Musical|Romance,Les misérables,NaN,English,USA,"USD 61,000,000.00",7.6,"Hugh Jackman,Eddie Redmayne,Anne Hathaway",144000,1000
55,Color,Joss Whedon,141,"$458,991,599.00",Action|Adventure|Sci-Fi,Avengers: age of Ultron,NaN,English,USA,"USD 250,000,000.00",7.5,"Chris Hemsworth,Robert Downey Jr.,Scarlett Joh...",118000,1000
74,Color,Daniel Espinosa,137,"$1,206,135.00",Crime|Drama|Thriller,Child 44,NaN,English,Czech Republic,"USD 50,000,000.00",6.4,"Tom Hardy,Fares Fares,Michael Nardone",18000,1000

In [54]:
# Batman v Superman: dawn of justice.
df.iloc[5,6] = 2016
# Les misérables
df.iloc[19,6] = 2012
# Avengers: age of Ultron
df.iloc[55,6] = 2015
# Child 44
df.iloc[74,6] = 2015

In [55]:
with pd.option_context("display.max_rows", None):
    print(df.title_year.value_counts(dropna=False))

title_year
2014.0    22
2012.0    19
2013.0    17
2015.0    10
2011.0    10
2010.0     7
2016.0     6
Name: count, dtype: int64

In [56]:
#Lo convertimos en números enteros.
df['title_year'] = df['title_year'].astype(int)

COLUMNA `movie_twitter_likes`

In [57]:
#He visto que todos los valores de esta columna era el mismo y ese dato no sirve asi.
#He considerado dejar toda la columna como nula por si más adelante nos pasasen ese dato poder agregarlo.
df['movie_twitter_likes'] = np.nan

# Para eliminarlo df = df.drop('movie_twitter_likes', axis=1)

COLUMNA `movie_facebook_likes`

In [58]:
#Ahora lo hacemos con movie_facebook_likes
df['movie_facebook_likes'] = df['movie_facebook_likes'].astype(int) #convertido en entero

In [59]:
df.loc[(df['movie_facebook_likes'] < 1000), 'movie_facebook_likes'] = np.NaN
#Los valores menores de 1000 me parecen extraños.

In [60]:
df_mediana = df.movie_facebook_likes.median()
df.movie_facebook_likes = df.movie_facebook_likes.fillna(df_mediana)

COLUMNA `country`

In [61]:
with pd.option_context("display.max_rows", None):
    print(df['country'].value_counts(dropna=False))

country
USA               72
UK                 6
usa                3
France             2
Germany            1
New Zealand        1
India              1
United States      1
Australia          1
Czech Republic     1
Kyrgyzstan         1
Canada             1
Name: count, dtype: int64

In [62]:
paises = {"USA" : "United States",
        "usa": "United States"
}

df["country"] = df["country"].replace(paises)

In [63]:
df.loc[df['country'] == 'UK', 'country'] = 'United Kingdom'
# Así todos los nombres estan completos sin abreviaturas

COLUMNA `language`

In [64]:
with pd.option_context("display.max_rows", None):
    print(df['language'].value_counts(dropna=False)) #En todas las peliculas se habla en inglés

language
English    91
Name: count, dtype: int64

COLUMNA `actors`

In [65]:
with pd.option_context("display.max_rows", None):
    print(df['actors'].value_counts(dropna=False))

actors
Aidan Turner,Adam Brown,James Nesbitt                       3
Chris Hemsworth,Robert Downey Jr.,Scarlett Johansson        2
Leonardo DiCaprio,Matthew McConaughey,Jon Favreau           1
Robert Downey Jr.,Robert Duvall,Leighton Meester            1
Brad Pitt,Tye Sheridan,Fiona Shaw                           1
Tika Sumpter,Josh Hopkins,Aunjanue Ellis                    1
Matthew McConaughey,Donald Watkins,Jessica Collins          1
Kate Winslet,Theo James,Mekhi Phifer                        1
Tom Hardy,Frank Grillo,Kevin Dunn                           1
Ryan Gosling,Ben Mendelsohn,Angelo Anthony Pizza            1
Jason Statham,Paul Walker,Vin Diesel                        1
James Franco,Julia Roberts,Billy Crudup                     1
Terry Pheto,Fana Mokoena,Tony Kgoroge                       1
Demián Bichir,Shea Whigham,Gary Stretch                     1
Denzel Washington,Bruce Greenwood,Nadine Velazquez          1
Morgan Freeman,Ayelet Zurer,Moises Arias                    1
Jennifer Lawrence,Josh Hutcherson,Anthony Reynolds          1
Emma Stone,Andrew Garfield,B.J. Novak                       1
Tom Hanks,Mark Rylance,Amy Ryan                             1
Robbie Barnes,Alana Kaniewski,Brandon Landers               1
Leonardo DiCaprio,Elizabeth Debicki,Steve Bisley            1
Albert Finney,Helen McCrory,Rory Kinnear                    1
Jennifer Lawrence,Christian Bale,Bradley Cooper             1
Leonardo DiCaprio,Joseph Sikora,Nellie Sciutto              1
Anthony Hopkins,Emma Watson,Logan Lerman                    1
Johnny Depp,Sam Claflin,Stephen Graham                      1
Brad Pitt,Logan Lerman,Jim Parrack                          1
Tom Hanks,Chris Mulkey,Michael Chernus                      1
Mark Addy,Atom Egoyan,Paul Gross                            1
Quvenzhané Wallis,Scoot McNairy,Taran Killam                1
Jeremy Renner,Scott Glenn,Stacy Keach                       1
Elina Abai Kyzy,Aziz Muradillayev,Mirlan Abdulayev          1
Frank Langella,Austin Pendleton,John Buffalo Mailer         1
James Martin Kelly,Shane Hartline,Celina Beach              1
Scarlett Johansson,Chris Evans,Hayley Atwell                1
Harrison Ford,Will Ferrell,Steve Carell                     1
Liam Neeson,Charlize Theron,Seth MacFarlane                 1
Finn Wittrock,Jack O'Connell,Alex Russell                   1
Jennifer Lawrence,Philip Seymour Hoffman,Josh Hutcherson    1
Kristen Stewart,Viggo Mortensen,Kirsten Dunst               1
Leonardo DiCaprio,Naomi Watts,Kaitlyn Dever                 1
Tom Hardy,Fares Fares,Michael Nardone                       1
Hugh Jackman,Tao Okamoto,Rila Fukushima                     1
Michael Fassbender,Brad Pitt,Goran Visnjic                  1
Henry Cavill,Christopher Meloni,Harry Lennix                1
Jennifer Lawrence,Michael Fassbender,Tye Sheridan           1
Robert Downey Jr.,Jon Favreau,Don Cheadle                   1
Ellar Coltrane,Lorelei Linklater,Libby Villari              1
Glenn Morshower,Lester Speight,Kevin Dunn                   1
Leonardo DiCaprio,Tom Hardy,Lukas Haas                      1
Mark Addy,William Hurt,Scott Grimes                         1
Jennifer Ehle,Harold Perrineau,Parker Sawyers               1
Hugh Jackman,Eddie Redmayne,Anne Hathaway                   1
Tom Hardy,Christian Bale,Joseph Gordon-Levitt               1
Bingbing Li,Sophia Myles,Kelsey Grammer                     1
Leonardo DiCaprio,Christoph Waltz,Ato Essandoh              1
Aldis Hodge,Neil Brown Jr.,R. Marcos Taylor                 1
Mike Howard,Jeffrey W. Jenkins,Bruce Goodchild              1
Matthew McConaughey,Anne Hathaway,Mackenzie Foy             1
Roma Downey,Amber Rose Revah,Darwin Shaw                    1
Robin Wright,Goran Visnjic,Joely Richardson                 1
Tom Hanks,Jim Sturgess,Jim Broadbent                        1
Rufus Sewell,Hayley Atwell,Charlotte Rampling               1
Henry Cavill,Lauren Cohan,Alan D. Purwin                    1
Matt Damon,Kieran Culkin,John Gallagher Jr.                 1
Craig Stark,Jennifer Jason Leigh,Zoë Bell                   1
Hugh Jackman,Jake Gyllenhaal,Dylan Minnette                 1
Mani Bharathi,Michael Lieber,Kevin McGowan                  1
Emma Stone,Andrew Garfield,Chris Zylka                      1
Matt Damon,Donald Glover,Benedict Wong                      1
Mila Kunis,Lili Taylor,Billy Crudup                         1
Toby Stephens,James Badge Dale,David Costabile              1
Jeremy Irvine,Benedict Cumberbatch,Eddie Marsan             1
Jennifer Lawrence,Josh Hutcherson,Sandra Ellis Lafferty     1
Emma Stone,Bryce Dallas Howard,Mike Vogel                   1
Chris Noth,Liza Minnelli,Kristin Davis                      1
Robert Downey Jr.,Scarlett Johansson,Chris Evans            1
Christoph Waltz,Rory Kinnear,Stephanie Sigman               1
Martin Dew,Katherine Waterston,Serena Scott Thomas          1
Leonardo DiCaprio,Tom Hardy,Joseph Gordon-Levitt            1
Michael Emerson,Mark Valley,Grey Griffin                    1
Jennifer Lawrence,Peter Dinklage,Hugh Jackman               1
Patrick Fugit,Sela Ward,Emily Ratajkowski                   1
Johnny Depp,Ruth Wilson,Tom Wilkinson                       1
Lesley Manville,Ruth Sheen,Karl Johnson                     1
Joseph Gordon-Levitt,Hal Holbrook,Bruce McGill              1
Christian Bale,María Valverde,Ben Mendelsohn                1
Johnny Cannizzaro,Steve Schirripa,Scott Vance               1
Name: count, dtype: int64

In [66]:
filtered_df = df[df['actors'].str.contains('Chris Hemsworth', case=False)]
print(filtered_df)
#He buscado aquellas pelicualas que los actores se repetian. Son peliculas distintas, segundas partes.

    color director_name  duration            gross                   genres
8   Color   Joss Whedon       173  $623,279,547.00  Action|Adventure|Sci-Fi  \
55  Color   Joss Whedon       141  $458,991,599.00  Action|Adventure|Sci-Fi

                movie_title  title_year language        country
8              The Avengers        2012  English  United States  \
55  Avengers: age of Ultron        2015  English  United States

                budget  imdb_score
8   USD 220,000,000.00         8.1  \
55  USD 250,000,000.00         7.5

                                               actors  movie_facebook_likes
8   Chris Hemsworth,Robert Downey Jr.,Scarlett Joh...              123000.0  \
55  Chris Hemsworth,Robert Downey Jr.,Scarlett Joh...              118000.0

    movie_twitter_likes
8                   NaN
55                  NaN

In [69]:
df['actors'] = df['actors'].str.replace(',', ', ')

In [70]:
with pd.option_context("display.max_rows", None):
    print(df['actors'])

0     Leonardo DiCaprio, Matthew McConaughey, Jon Fa...
1           Robert Downey Jr., Jon Favreau, Don Cheadle
2           Craig Stark, Jennifer Jason Leigh, Zoë Bell
3         Matt Damon, Kieran Culkin, John Gallagher Jr.
4               Aidan Turner, Adam Brown, James Nesbitt
5            Henry Cavill, Lauren Cohan, Alan D. Purwin
6               Aidan Turner, Adam Brown, James Nesbitt
7       Rufus Sewell, Hayley Atwell, Charlotte Rampling
8     Chris Hemsworth, Robert Downey Jr., Scarlett J...
9                Tom Hanks, Jim Sturgess, Jim Broadbent
10        Robin Wright, Goran Visnjic, Joely Richardson
11           Roma Downey, Amber Rose Revah, Darwin Shaw
12    Matthew McConaughey, Anne Hathaway, Mackenzie Foy
13        Aldis Hodge, Neil Brown Jr., R. Marcos Taylor
14     Ellar Coltrane, Lorelei Linklater, Libby Villari
15     Leonardo DiCaprio, Christoph Waltz, Ato Essandoh
16            Bingbing Li, Sophia Myles, Kelsey Grammer
17      Tom Hardy, Christian Bale, Joseph Gordon-Levitt
18              Aidan Turner, Adam Brown, James Nesbitt
19          Hugh Jackman, Eddie Redmayne, Anne Hathaway
20      Jennifer Ehle, Harold Perrineau, Parker Sawyers
21                Mark Addy, William Hurt, Scott Grimes
22             Leonardo DiCaprio, Tom Hardy, Lukas Haas
23          Glenn Morshower, Lester Speight, Kevin Dunn
24        Hugh Jackman, Jake Gyllenhaal, Dylan Minnette
25         Mani Bharathi, Michael Lieber, Kevin McGowan
26             Emma Stone, Andrew Garfield, Chris Zylka
27             Matt Damon, Donald Glover, Benedict Wong
28       Christian Bale, María Valverde, Ben Mendelsohn
29     Joseph Gordon-Levitt, Hal Holbrook, Bruce McGill
30            Lesley Manville, Ruth Sheen, Karl Johnson
31              Johnny Depp, Ruth Wilson, Tom Wilkinson
32          Patrick Fugit, Sela Ward, Emily Ratajkowski
33      Jennifer Lawrence, Peter Dinklage, Hugh Jackman
34           Michael Emerson, Mark Valley, Grey Griffin
35    Leonardo DiCaprio, Tom Hardy, Joseph Gordon-Le...
36    Martin Dew, Katherine Waterston, Serena Scott ...
37      Christoph Waltz, Rory Kinnear, Stephanie Sigman
38    Robert Downey Jr., Scarlett Johansson, Chris E...
39             Chris Noth, Liza Minnelli, Kristin Davis
40          Emma Stone, Bryce Dallas Howard, Mike Vogel
41    Jennifer Lawrence, Josh Hutcherson, Sandra Ell...
42    Jeremy Irvine, Benedict Cumberbatch, Eddie Marsan
43     Toby Stephens, James Badge Dale, David Costabile
44                Mila Kunis, Lili Taylor, Billy Crudup
45     Mike Howard, Jeffrey W. Jenkins, Bruce Goodchild
46    Jennifer Lawrence, Michael Fassbender, Tye She...
47            Harrison Ford, Will Ferrell, Steve Carell
48       Henry Cavill, Christopher Meloni, Harry Lennix
49           Albert Finney, Helen McCrory, Rory Kinnear
50    Leonardo DiCaprio, Elizabeth Debicki, Steve Bi...
51      Robbie Barnes, Alana Kaniewski, Brandon Landers
52                    Tom Hanks, Mark Rylance, Amy Ryan
53              Emma Stone, Andrew Garfield, B.J. Novak
54    Jennifer Lawrence, Josh Hutcherson, Anthony Re...
55    Chris Hemsworth, Robert Downey Jr., Scarlett J...
56           Morgan Freeman, Ayelet Zurer, Moises Arias
57              Terry Pheto, Fana Mokoena, Tony Kgoroge
58            Demián Bichir, Shea Whigham, Gary Stretch
59    Robert Downey Jr., Robert Duvall, Leighton Mee...
60            James Franco, Julia Roberts, Billy Crudup
61               Jason Statham, Paul Walker, Vin Diesel
62    Ryan Gosling, Ben Mendelsohn, Angelo Anthony P...
63                  Tom Hardy, Frank Grillo, Kevin Dunn
64               Kate Winslet, Theo James, Mekhi Phifer
65    Matthew McConaughey, Donald Watkins, Jessica C...
66           Tika Sumpter, Josh Hopkins, Aunjanue Ellis
67                  Brad Pitt, Tye Sheridan, Fiona Shaw
68    Jennifer Lawrence, Christian Bale, Bradley Cooper
69    Denzel Washington, Bruce Greenwood, Nadine Vel...
70           Anthony Hopkins, Emma Watson, Logan Lerman
71     Leonardo DiCaprio, Joseph Sikora, Nellie Sciutto
72         Michael Fassbender, Brad Pitt, Goran Visnjic
73            Hugh Jackman, Tao Okamoto, Rila Fukushima
74              Tom Hardy, Fares Fares, Michael Nardone
75        Leonardo DiCaprio, Naomi Watts, Kaitlyn Dever
76      Kristen Stewart, Viggo Mortensen, Kirsten Dunst
77    Jennifer Lawrence, Philip Seymour Hoffman, Jos...
78          Finn Wittrock, Jack O'Connell, Alex Russell
79        Liam Neeson, Charlize Theron, Seth MacFarlane
80       Scarlett Johansson, Chris Evans, Hayley Atwell
81             Johnny Depp, Sam Claflin, Stephen Graham
82     James Martin Kelly, Shane Hartline, Celina Beach
83    Frank Langella, Austin Pendleton, John Buffalo...
84    Elina Abai Kyzy, Aziz Muradillayev, Mirlan Abd...
85              Jeremy Renner, Scott Glenn, Stacy Keach
86       Quvenzhané Wallis, Scoot McNairy, Taran Killam
87                   Mark Addy, Atom Egoyan, Paul Gross
88             Tom Hanks, Chris Mulkey, Michael Chernus
89                 Brad Pitt, Logan Lerman, Jim Parrack
90      Johnny Cannizzaro, Steve Schirripa, Scott Vance
Name: actors, dtype: object

COLUMNA `imdb_score`

In [71]:
with pd.option_context("display.max_rows", None):
    print(df['imdb_score'].value_counts(dropna=False))

imdb_score
 6.7    9
 8.1    8
 7.3    7
 7.9    5
 7.2    5
 7.6    4
 6.5    4
 6.1    4
 7.4    4
 8.2    3
 6.3    3
 7.8    3
 6.9    3
 8.5    2
 7.5    2
 8.0    2
 7.0    2
 6.6    2
 6.8    2
 5.7    2
 7.1    2
 5.8    1
 5.9    1
-1.2    1
 6.4    1
 5.3    1
 8.8    1
 3.0    1
 4.3    1
 8.4    1
-7.5    1
 5.6    1
 8.6    1
 8.7    1
Name: count, dtype: int64

In [72]:
df['imdb_score'] = df['imdb_score'].abs() #Convierte los números negativos en positivos

COLUMNA `duration`

In [73]:
with pd.option_context("display.max_rows", None):
    print(df['duration'].value_counts(dropna=False))

duration
 138    6
 141    5
 136    5
 137    5
 143    5
 134    4
 148    4
 146    4
 139    4
 144    4
 140    4
 142    3
 153    3
 150    3
 165    2
 149    2
 164    2
 158    2
 156    2
 135    2
 186    2
 147    1
 240    1
 650    1
 151    1
 195    1
 154    1
 157    1
 580    1
 167    1
 169    1
 170    1
 172    1
 173    1
 180    1
-50     1
 183    1
 187    1
 5      1
Name: count, dtype: int64

In [74]:
df['duration'] = df['duration'].astype(int)

In [75]:
df.loc[(df['duration'] < 60), 'duration'] = np.NaN
#Es raro que una pelicula dure menos de 60 minutos.